<p-table [value]="vendedores" id="tbvendedores">
    <ng-template pTemplate="header">
        <tr>
            <th>Nome</th>
            <th>Comissao</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vendedor>
        <tr>
            <td>{{vendedor.nome}}</td>
            <td>{{vendedor.comissao}}</td>
        </tr>
    </ng-template>
</p-table>